nav {
  transition: all 0.3s;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: transparent;
  position: fixed;
}
a {
  margin: 0 2vw;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  padding: 2vh 0;
}

.active {
  border-bottom: 2px solid #ff9a8d;
}

a:hover {
  cursor: pointer;
}

span {
  color: white;
  font-size: 1.5rem;
}
