<nav>
  <span>
    <span *ngIf="loginValid">Welcome {{ firstName | uppercase }}</span>
  </span>
  <div class="wrapper">
    <a [routerLink]="['login']" *ngIf="!loginValid" routerLinkActive="active">Login</a>
    <a *ngIf="loginValid" (click)="logout()">Logout</a>
    <a [routerLink]="['gallery']" *ngIf="loginValid" routerLinkActive="active">Gallery</a>
    <a [routerLink]="['about']" routerLinkActive="active">About</a>
    <a [routerLink]="['home']" routerLinkActive="active">Home</a>
  </div>
</nav>
