<section class="container">
  <header>
    <div class="overlay">
      <div class="headingDiv">About Us</div>
    </div>
  </header>

  <section>
    <div class="content">
      <p>
        From local to national, we engage the country to tell its stories.
      </p>
      <p>
        We have created a powerful network of brands and capabilities that position us
        well to ensure and preserve the future of local journalism.
      </p>
      <p>
        With deep roots in cities and towns across the U.S. and the U.K., our company
        brings a long-standing history of investing in journalism. Our mission is to make
        communities stronger. We inform and engage them — as an award-winning, trusted
        news organization, and as a modern media company pushing the boundaries of what
        content is, how it’s experienced and how it’s used.
      </p>
      <p>
        In addition, we share a commitment to supporting local commerce, enabling
        businesses to connect with customers and to thrive.
      </p>
      <p>
        Gannett is the largest local newspaper company in the United States. Our local
        daily brands plus the iconic USA TODAY are expected to reach a digital audience of
        nearly 140 million each month.
      </p>
      <ul>
        <li>261 local daily brands across 46 states and Guam, plus USA TODAY</li>
        <li>Reach over 50% of the total U.S. digital audience</li>
        <li>Serve over 300K business customers</li>
      </ul>
    </div>
  </section>
  <section class="content">
    <div class="keyMemberHeading">Our Key Members</div>
    <div class="keyMember">
      <img
        src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        alt="Staff Image"
      />
      <img
        src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        alt="Staff Image"
      />
      <img
        src="https://images.pexels.com/photos/2182970/pexels-photo-2182970.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        alt="Staff Image"
      />
    </div>
  </section>
</section>
