header {
  background-image: url('https://images.unsplash.com/photo-1577843012375-e30ead91b2a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80');
  object-fit: cover;
}
.overlay {
  background: rgba(18, 25, 46, 0.8);
  transition: all 0.3s;
}
.headingDiv {
  padding: 8rem;
  color: white;
  font-size: 5rem;
  text-align: center;
}
div.content {
  font-size: 1rem;
  color: gray;
  text-align: justify;
}
p,
ul {
  margin: 2rem 4rem;
  word-wrap: break-word;
}

.keyMemberHeading {
  color: rgb(100, 100, 100);
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.keyMember {
  margin: auto 3rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
}
